.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 90px;
  padding-top: 90px;
  background-color: #1f1f1f;
  color: white;
}
